@CHARSET "UTF-8";

.table.table-rates tbody>tr>td {
	vertical-align: middle;
}

.flag {
	width: 30px;
	height: 30px;
}

.flag-large {
	width: 60px;
	height: 60px;
}

.vertical-align {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px;
}

.top-buffer {
	margin-top: 30px;
}

textarea#endpoint-response {
	max-width: 100%;
	resize: none;
}

div#loader {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: url("../images/loader.gif") 50% 50% no-repeat #fff;
	position: fixed;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
div#wrapper {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer {
	height: 60px;
	width: 100%;
	background-color: #f5f5f5;
}