{{#layout}}
<div class="page-header">
	<h3>CERA - CurrencyExchangeRateAggregator</h3>
</div>

<h4>CERA is a PoC for the following technology stack</h4>

<ul>
	<li>
		<a href="https://kafka.apache.org/">Apache Kafka</a>
	</li>
	<li>
		<a href="https://projects.spring.io/spring-boot/">Spring Boot</a>
	</li>
	<li>
		<a href="http://getbootstrap.com/">Bootstrap</a>
	</li>
	<li>
		<a href="https://mustache.github.io/">Mustache</a>
	</li>
</ul>

<h4>Brief system overview</h4>

<p>Several things happen at the application startup</p>

<ul>
	<li>Kafka topics are verified and optionally created</li>
	<li>Kafka producer queries several free exchange rate web-services
		and puts the results into respective topics</li>
	<li>Kafka consumer polls the topics and stores the data into an
		in-memory storage which is used by the GUI</li>
</ul>

<p>CERA is capable of operating in three modes</p>

<ul>
	<li>Real time single web service - select a service and request
		one of the supported currency pairs rate</li>
	<li>Real time multiple web services - so called ‘aggregated’ mode
		- much like the previous instead the dedicated rate is fetched from
		all web-services at once</li>
	<li>Kafka-based mode - data comes from Kafka topics, for each and
		every batch of rates Min, Max and Avg values are calculated</li>
</ul>

<p>Supported services</p>

<ul>
	{{#rateServices}}
	<li>{{name}}</li>
	{{/rateServices}}
</ul>

<p>Supported currencies</p>

<ul>
	{{#currencies}}
	<li>{{title}}</li>
	{{/currencies}}
</ul>

{{/layout}}
