{{#layout}}
<div class="page-header">
	<h3>Actuator endpoints</h3>
</div>

<ul class="nav nav-pills">
	{{#menu.actuatorItems}}
	<li>
		<button type="button" class="btn btn-default"
			onclick="request('{{url}}')">{{title}}</button>
	</li>
	{{/menu.actuatorItems}}
</ul>

<div class="panel panel-default">
	<div class="panel-body form-group">
		<label for="endpoint-response"><kbd>Response</kbd></label>
		<textarea cols="5" rows="20" class="form-control" readonly="readonly"
			id="endpoint-response">
			</textarea>
	</div>
</div>

<script type="text/javascript" src="js/actuator.js"></script>
{{/layout}}
