{{#layout}}
<div class="page-header">
	<h3>Something went wrong</h3>
</div>

<div class="panel panel-danger text-danger">
	<div class="panel-heading">
		<p>Server status code {{status}}</p>
		{{#exception}}
		<samp> {{exception}}:{{message}}</samp>
		{{/exception}}
	</div>

	<div class="panel-body">
		<h4>Error</h4>
		<p>{{error}}</p>
		{{#trace}}
		<h5>Stacktrace</h5>
		<pre>{{trace}}</pre>
		{{/trace}}
	</div>
</div>
{{/layout}}
