<div class="panel panel-default">
	{{#rate}}
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-4 col-sm-3 vertical-align">
				<figure class="figure">
					<img src="images/{{currencyPair.from}}.svg"
						class="figure-img flag-large">
					<figcaption class="figure-caption">{{currencyPair.from}}</figcaption>
				</figure>
			</div>
			<div class="hidden-xs col-sm-1 vertical-align">
				<span class="glyphicon glyphicon-menu-right"></span>
			</div>
			<div class="col-xs-4 col-sm-3 vertical-align">
				<figure class="figure">
					<img src="images/{{currencyPair.to}}.svg"
						class="figure-img flag-large">
					<figcaption class="figure-caption">{{currencyPair.to}}</figcaption>
				</figure>
			</div>
			<div class="col-xs-4 col-sm-1 col-sm-offset-4 vertical-align">
				<a class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-refresh"
						onclick="request('{{url}}')"> </span>
				</a>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<p>
			Exchange rate:
			<samp>{{value}}</samp>
		</p>
		<p>
			Rate source:
			<samp>{{source}}</samp>
		</p>
		<p>
			Timestamp:
			<samp>{{formattedTimestamp}}</samp>
		</p>
	</div>
	{{/rate}} {{^rate}}
	<div class="panel-body">
		<h4 class="text-warning">No data</h4>
	</div>
	{{/rate}}
</div>