{{#layout}}
<div class="page-header">
	<h3>Realtime web-based individual rates</h3>
</div>

<ul class="nav nav-tabs">
	{{#services}}
	<li>
		<a data-toggle="tab" href="#{{rateSource.urlName}}">{{rateSource}}</a>
	</li>
	{{/services}}
</ul>

<div class="tab-content top-buffer">
	{{#services}}
	<div id="{{rateSource.urlName}}" class="tab-pane fade">
		<ul class="nav nav-pills">
			{{#supportedCurrencyCodes}}
			<li class="dropdown">
				<button type="button" class="btn btn-default dropdown-toggle"
					data-toggle="dropdown">
					{{name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					{{#pairs}}
					<li>
						<button type="button" class="btn btn-link btn-block"
							onclick="request('{{rateSource.urlName}}/{{from}}-{{to}}')">{{.}}</button>
					</li>
					{{/pairs}}
				</ul>
			</li>
			{{/supportedCurrencyCodes}}
		</ul>
	</div>
	{{/services}}
</div>

<div id="exchange-rate" class="top-buffer"></div>

<script type="text/javascript" src="js/rateController.js"></script>
{{/layout}}
