{{#layout}}
<div class="page-header">
	<h3>Kafka-based exchange rate statistics</h3>
</div>

<div class="panel-group" id="accordion-kafka-rates">
	{{#statisticalRates}}
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-2 col-sm-1 vertical-align">
					<figure class="figure">
						<img src="images/{{pair.from}}.svg" class="figure-img flag">
						<figcaption class="figure-caption">{{pair.from}}</figcaption>
					</figure>
				</div>
				<div class="hidden-xs col-sm-1 vertical-align">
					<span class="glyphicon glyphicon-menu-right"></span>
				</div>
				<div class="col-xs-2  col-sm-1 vertical-align">
					<figure class="figure">
						<img src="images/{{pair.to}}.svg" class="figure-img flag">
						<figcaption class="figure-caption">{{pair.to}}</figcaption>
					</figure>
				</div>

				<div class="col-xs-2 vertical-align">Min: {{roundedMinimalRate}}</div>
				
				<div class="col-xs-2 vertical-align">Max: {{roundedMaximumRate}}</div>

				<div class="col-xs-2 vertical-align">Avg: {{roundedAverageRate}}</div>

				<div class="col-xs-2 col-sm-3 vertical-align">
					<h3>
						<a data-toggle="collapse" data-parent="#accordion-kafka-rates"
							href="#{{pair.from}}-{{pair.to}}">
							<span class="glyphicon glyphicon-list-alt"> </span>
						</a>
					</h3>
				</div>
			</div>
		</div>
		<div id="{{pair.from}}-{{pair.to}}" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-rates">
						<thead>
							<tr>
								<th>Offset</th>
								<th>Partition</th>
								<th>Broker timestamp</th>
								<th>Rate</th>
								<th>Source</th>
							</tr>
						</thead>
						<tbody>
							{{#kafkaRates}}
							<tr>
								<td>{{offset}}</td>
								<td>{{partition}}</td>
								<td>{{formattedBrokerTimestamp}}</td>
								<td>{{rate.value}}</td>
								<td>{{rate.source}}</td>
							</tr>
							{{/kafkaRates}} {{^kafkaRates}}
							<tr>
								<td colspan="5"><h5 class="text-warning">No data yet,
										try again later</h5>
							</tr>
							{{/kafkaRates}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	{{/statisticalRates}} {{^statisticalRates}}
	<div class="panel panel-warning">
		<div class="panel-body">
			<h5>No data yet, try again later</h5>
		</div>
	</div>
	{{/statisticalRates}}
</div>
{{/layout}}
