<!DOCTYPE html>
<html lang="en">
<head>
<title>CERA</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="{{baseUrl}}">
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/loader.js"></script>
</head>
<body>

	<div id="loader"></div>

	<div id="wrapper">

		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#cera-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{menu.cera.url}}">
						{{menu.cera.title}} </a>
				</div>
				<div id="cera-navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="{{menu.home.url}}"> {{menu.home.title}} </a>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown"
								href="{{menu.webRates.url}}">
								{{menu.webRates.title}}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">
									{{menu.aggregatedWebRates.title}}</li>
								{{#menu.webRateItems}}
								<li>
									<a href="{{url}}" onclick="animateLoading();">{{title}}</a>
								</li>
								{{/menu.webRateItems}}
								<li class="divider"></li>
								<li>
									<a href="{{menu.individualWebRates.url}}">
										{{menu.individualWebRates.title}} </a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown"
								href="{{menu.kafkaRates.url}}">
								{{menu.kafkaRates.title}}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{{#menu.kafkaRateItems}}
								<li>
									<a href="{{url}}">{{title}}</a>
								</li>
								{{/menu.kafkaRateItems}}
							</ul>
						</li>
						<li>
							<a href="{{menu.actuator.url}}"> {{menu.actuator.title}} </a>
						</li>
						<li>
							<a href="{{menu.about.url}}"> {{menu.about.title}} </a>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="container">{{{layout.body}}}</div>

	</div>

	<footer class="container">
		<div class="row">
			<div class="well col-xs-12">
				{{#cera.adminMode}}
				<samp>
					cera v. {{cera.applicationVersion}} branch {{cera.branch}} commit
					<a href="#" data-toggle="modal" data-target="#commitInfo">{{cera.commitId}}</a>
					on {{cera.commitTime}}
				</samp>
				{{/cera.adminMode}} {{^cera.adminMode}}
				<samp> branch {{cera.branch}} commit {{cera.commitId}} on
					{{cera.commitTime}} </samp>
				{{/cera.adminMode}}
			</div>
		</div>
	</footer>

	<div class="modal fade" id="commitInfo" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{cera.shortCommitMessage}}</h4>
					<p>by {{cera.commitUserName}} - {{cera.commitUserEmail}}</p>
				</div>
				<div class="modal-body">
					<pre>{{cera.fullCommitMessage}}</pre>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>