{{#layout}}
<div class="page-header">
	<h3>Realtime aggregated web exchange rates</h3>
</div>
<div class="table-responsive">
	<table class="table table-striped table-rates">
		<thead>
			<tr>
				<th colspan="3">Title</th>
				<th>Rate</th>
				<th>Timestamp</th>
				<th>Source</th>
			</tr>
		</thead>
		<tbody>
			{{#webRates}}
			<tr>
				<td>
					<figure class="figure">
						<img src="images/{{currencyPair.from}}.svg"
							class="figure-img flag">
						<figcaption class="figure-caption">
							{{currencyPair.from}}</figcaption>
					</figure>
				</td>

				<td><span class="glyphicon glyphicon-menu-right"></span></td>
				<td>
					<figure class="figure">
						<img src="images/{{currencyPair.to}}.svg" class="figure-img flag">
						<figcaption class="figure-caption">
							{{currencyPair.to}}</figcaption>
					</figure>

				</td>

				<td>{{value}}</td>
				<td>{{formattedTimestamp}}</td>
				<td>{{source}}</td>
			</tr>
			{{/webRates}}
		</tbody>
	</table>
</div>
{{/layout}}
